<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" style="margin-left: 2rem;">Projeto Interdiciplinar</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLinkActive='active' routerLinkActive="active" class="nav-link"><b>HOME</b></a>
            </li>
        </ul>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a routerLinkActive='active' routerLinkActive="active" class="nav-link"><b>CADASTRE-SE</b></a>
            </li>
        </ul>

        <ul class="navbar-nav" style="margin-right: 2rem;">
            <li class="nav-item">
                <a routerLinkActive='active' routerLinkActive="active" class="nav-link"><b>CONTATO</b></a>
            </li>
        </ul>
    </div>
</nav>