<h4>
    Conquiste novas<br>
    experiências.
</h4>

<form [formGroup]="cadastroPsicologo" style="margin-bottom: 5rem;" class="mt-3" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <div class="col">
            <div class="form-group" [ngClass]="aplicaCssErro('nome')">
                <label for="inputState">Nome</label>
                <input type="text"
                        class="form-control"
                        formControlName="nome"
                        id="nome">

                <app-campo-control-erro 
                    [mostrarErro]="verificaValidTouched('nome')" 
                    msgErro="Nome é obrigatório.">
                </app-campo-control-erro>
            </div>
        </div>
    
        <div class="col">
            <div class="form-group" [ngClass]="aplicaCssErro('email')">
                <label for="inputState">Email</label>
                <input  type="text"
                        class="form-control"
                        formControlName="email"
                        id="email">

                <app-campo-control-erro 
                    [mostrarErro]="verificaValidTouched('email')" 
                    msgErro="Email é obrigatório.">
                </app-campo-control-erro>
            </div>
        </div>
    </div> 

    <div class="row mb-3">
        <div class="col">
            <div class="form-group" [ngClass]="aplicaCssErro('telefone')">
                <label for="inputState">Telefone</label>
                <input  type="text"
                        class="form-control"
                        formControlName="telefone"
                        id="telefone"
                        mask="(00) 0 0000-0000||(00) 0000-0000">

                <app-campo-control-erro
                    [mostrarErro]="verificaValidTouched('telefone')" 
                    msgErro="Telefone é obrigatório.">
                </app-campo-control-erro>
            </div>
        </div>

        <div class="col">
            <div class="form-group" [ngClass]="aplicaCssErro('crp')">
                <label for="inputState">CRP</label>
                <input  type="text"
                        class="form-control"
                        formControlName="crp"
                        id="crp"
                        mask="00/0000">

                <app-campo-control-erro 
                    [mostrarErro]="verificaValidTouched('crp')" 
                    msgErro="CRP é obrigatório.">
                </app-campo-control-erro>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <div class="form-group" [ngClass]="aplicaCssErro('preco')">
                <label for="inputState">Preço</label>
                <input  type="text"
                        class="form-control"
                        formControlName="preco"
                        id="preco">

                <app-campo-control-erro
                    [mostrarErro]="verificaValidTouched('preco')" 
                    msgErro="Preço é obrigatório.">
                </app-campo-control-erro>
            </div>
        </div>

        <div class="col">
            <div class="form-group" [ngClass]="aplicaCssErro('experiencia')">
                <label for="inputState">Experiência</label>
                <input  type="text"
                        class="form-control"
                        formControlName="experiencia"
                        id="experiencia">

                <app-campo-control-erro 
                    [mostrarErro]="verificaValidTouched('experiencia')" 
                    msgErro="Experiência é obrigatório.">
                </app-campo-control-erro>
            </div>
        </div>
    </div>

    <div class="row mb-3">  
        <div class="form-group col-md-4">
            <div class="form-group" [ngClass]="aplicaCssErro('facebook')">
                <label for="inputState">Facebook</label>
                <input  type="text"
                        class="form-control"
                        formControlName="facebook"
                        id="facebook">

                <app-campo-control-erro 
                    [mostrarErro]="verificaValidTouched('facebook')" 
                    msgErro="Facebook precisa ter no máximo 100 caracteres.">
                </app-campo-control-erro>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="form-group" [ngClass]="aplicaCssErro('estado')">
                <label for="inputState">Estado</label>
                <select id="inputState" class="form-control" formControlName="estado">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>

                <app-campo-control-erro 
                    [mostrarErro]="verificaValidTouched('estado')" 
                    msgErro="Estado é obrigatório.">
                </app-campo-control-erro>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="form-group" [ngClass]="aplicaCssErro('cidade')">
                <label for="inputState">Cidade</label>
                <select id="inputState" class="form-control" formControlName="cidade">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>

                <app-campo-control-erro 
                    [mostrarErro]="verificaValidTouched('cidade')" 
                    msgErro="Cidade é obrigatório.">
                </app-campo-control-erro>
            </div>
        </div>
    </div>

    <div class="row mb-3">

        <div class="form-group" [ngClass]="aplicaCssErro('sobreMim')">
            <label for="inputState">Sobre mim</label>
            <input  type="text"
                    class="form-control"
                    formControlName="sobreMim"
                    id="sobreMim">

            <app-campo-control-erro 
                [mostrarErro]="verificaValidTouched('sobreMim')" 
                msgErro="Sobre mim é obrigatório.">
            </app-campo-control-erro>
        </div>

        <div class="form-group" [ngClass]="aplicaCssErro('imagem')">
            <div class="form-group col-md-4 mt-4">
                <input style="background-color: white;" class="form-control-file" type="file" alife-file-to-base64 (onFileChanged)="onFileChanges($event)"/>
            </div>

            <app-campo-control-erro 
                [mostrarErro]="verificaValidTouched('imagem')" 
                msgErro="Imagem é obrigatório.">
            </app-campo-control-erro>
        </div>
    </div> 
    
    <div>
        <button class="btn btn-primary" [disabled]="cadastroPsicologo.invalid">Salvar</button>
    </div>

</form>