<div class="row mb-5">

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mt-3">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 circle">
                <img src="{{ psicologo?.imagem }}">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                <h3>{{ psicologo?.nome }}</h3>
                <h5>Psicologia Clínica</h5>
                <h5>{{ psicologo?.cidade }}, {{ psicologo?.estado }} - Brasil</h5>
                <div class="row mt-4" style="line-height: 0.5;">
                    <div class="col-xs-4 col-sm-6 col-md-7 col-lg-6">
                        <h5 style="margin-bottom: 0px;">R$ {{ psicologo?.preco }}</h5>
                        <p style="font-size: 11px;">No particular</p>
                    </div>
                    <div style="position: relative;" class="col-xs-4 col-sm-6 col-md-7 col-lg-6">
                        
                        <h5 style="left: 0;" align="center">
                            <i class="far fa-clock fa-sm"></i>
                            50 min
                            <p style="font-size: 11px; margin-left: 15px;">Duração da consulta</p>
                        </h5>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                
            </div>
        </div>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mt-3" style="align-self: flex-end;">
        <div style="display: flex; justify-content: space-around;">
            <p style="font-size: 11px">
                Compartilhe
                <a href="https://www.whatsapp.com/?lang=pt_br" target="_black"><i class="fab fa-whatsapp circle-icon color-watz"></i></a>
                <a href="{{ psicologo?.facebook }}" target="_black"><i class="fab fa-facebook-f circle-icon color-face"></i></a>
                <a href="https://mail.google.com/" target="_black"><i class="fa fa-envelope circle-icon color-email"></i></a>
            </p>
        </div>
    </div>

    <div class="meu-hr mt-1">
        <p>SOBRE MIM</p><hr>
    </div>

    <div class="row">
        <div style="width: 100%; word-wrap: break-word;" class="col-md-12">
            {{ psicologo?.sobreMim }}
        </div>
    </div>

    <div class="meu-hr mt-5">
        <p>EXPERIÊNCIAS</p><hr>
    </div>

    <div class="row mb-4">
        <div class="col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2 mb-3" *ngFor="let xp of experiencias" align="center">
            <p class="component-p">
                {{ xp }}
            </p>
        </div>
    </div>
</div>