<div class="row">

    <div class="col-sm-4 col-md-6 col-lg-8">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
            took a galley of type and scrambled it to make a type specimen book. It has survived not 
            only five centuries, but also the leap into electronic typesetting, remaining essentially 
            unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
            Lorem unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
            Lorem unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
            Lorem
        </p>
    </div>

    <div class="col-sm-8 col-md-6 col-lg-4">
        <img style="border-radius: 5px;" width="320px" height="150px" src="assets/image-home.png">
    </div>
</div>

<div class="row">
    <div class="form-group row">

        <label class="col-sm-1 col-form-label">Filtre por:</label>
    
        <div class="col-sm-11">
            <input placeholder="Nome, profissão e descrição" class="form-control">
        </div>
    
    </div>
</div>