<div class="container mt-5" style="max-width: 60vw;">

    <!-- Texto -->
    <div class="row d-flex justify-content-center">
      <p>
        Lorem ipsum luctus est ultrices maecenas laoreet, lacus diam erat sociosqu libero 
        dictum senectus, vel euismod pharetra eu suspendisse. facilisis dapibus quam sit 
        massa quisque euismod turpis porta odio eget arcu eros curae mollis, netus augue 
        quam litora lobortis rutrum lacinia id imperdiet primis maecenas
      </p>
    </div>
  
    <!-- Button -->
    <div class="col text-center mb-5">
      <button [routerLink]="['/perfil']" class="btn btn-primary" style="background-color: #00B2FF; border-color: #00B2FF; border-radius: 10rem;">
        CADASTRE-SE
      </button>
    </div>
  
    <!-- Cards -->
    <div class="row" style="margin-bottom: 5rem;">
      <div class="col-sm-4 mb-3" *ngFor="let usuario of usuarios">
        <app-card [relato]="usuario.relato" 
                  [nome]="usuario.nome"
                  [imagem]="usuario.imagem"
                  [id]="usuario.id">
        </app-card>
      </div>
    </div>
  </div>
  
  
  
  