<div class="card h-100">
    <img style="background-size: cover" class="card-img-top" [src]="imagemPadrao" alt="Card image cap">
    <div class="card-body" align="center">
        <h5 class="card-title" style="width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ nome }}</h5>
        <p class="card-text">{{ relato }}</p>
    </div>

    <div align="center">
        <div *ngIf="qualTipo === 'usuario'; then usuario else psicologo"></div>

        <ng-template #usuario>
            <button [routerLink]="['/usuario', id]" class="btn mb-3" style="width: 50%;">
                SAIBA MAIS
            </button>
        </ng-template>

        <ng-template #psicologo>
            <button [routerLink]="['/psicologo', id]" class="btn mb-3">
                SAIBA MAIS
            </button>
        </ng-template>
    </div>
</div>
