<div class="card">
    <img style="background-size: cover;    " class="card-img-top" [src]="imagemPadrao" alt="Card image cap">
    <div class="card-body" align="center">
        <h5 class="card-title" style="width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{ nome }}</h5>
        <p class="card-text">{{ relato }}</p>
        <button class="btn btn-primary" style="background-color: #00B2FF; border-color: #00B2FF; border-radius: 10rem;">
            SAIBA MAIS
        </button>
    </div>
</div>
