<h4>
    Conecte-se a outras<br>
    pessoas.
</h4>

<form style="margin-bottom: 5rem;" class="mt-3">
    <div class="row mb-3">
        <div class="col">
            <app-input [valor]="nome"></app-input>
        </div>

        <div class="col">
            <app-input [valor]="email"></app-input>
        </div>

    </div>

    <div class="row mb-3">

        <div class="col">
            <app-input [valor]="telefone"></app-input>
        </div>

        <div class="col">
            <app-input [valor]="profissao"></app-input>
        </div>

    </div>

    <div class="row mb-3">

        <div class="col">
            <app-input [valor]="titulo"></app-input>
        </div>

        <div class="col">
            <app-input [valor]="descricao"></app-input>
        </div>

    </div>

    <div class="row mb-3">

        <div class="form-group col-md-4">
            <app-input [valor]="cep"></app-input>
        </div>

        <div class="form-group col-md-4">
            <app-select [titulo]="estado"></app-select>
        </div>

        <div class="form-group col-md-4">
            <app-select [titulo]="cidade"></app-select>
        </div>
    </div>

    <div class="row mb-3">

        <div class="form-group col-md-4">
            <app-input [valor]="endereco"></app-input>
        </div>

        <div class="form-group col-md-4">
            <app-select [titulo]="tipoPostagem"></app-select>
        </div>

        <div class="form-group col-md-4 mt-4">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>

    </div>

</form>
